.navbar{
  background-color: rgba(72, 72, 168, 0.733);
  color: white;
  font-size: 15px;
  padding: 10px 10px;
}

.link-router{
  color: white;
  text-decoration: none;
  margin-right: 5px;
}

h1{
  justify-content: center;
  display: flex;
}

.active{
 font-weight: bold;
 font-size: 20px;
}